@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

* {
  /* display: flex; */
  font-size: 50px;
  /* text-shadow: black 2px; */
  background-attachment: fixed;
  font-family: 'Bangers', cursive;
  /* color: white; */
  text-shadow: rgb(88, 88, 88);
  /* color: white; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* grid-column: 1/3; */
  /* padding: 4rem; */
  text-align: center;
  flex-shrink: 1;
  /* background-image: linear-gradient(45deg, rgb(228, 245, 81), rgb(30, 110, 37)); */
  background:  url(../photos/black-close-up-dark-dew-396547.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  color: whitesmoke;
  min-height: 100vh;
  /* border-bottom: orange 2px solid; */
  
}

.typewriter{
  font-size: 30px;
  margin: 0 4rem 4rem 4rem;
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor*/
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; Gives that scrolling effect as the typing happens
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret 1s step-end infinite;
}

.underLine {
  border-bottom: 4px solid;
  border-color: orange;
  margin: 0 4rem 4rem 4rem;
    /* max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 3px; */

  
}
/* This is the nav icons */
nav {
    white-space: nowrap;
    display: flex;
    flex-direction: column-reverse;
  }
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.icons-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  font-size: 10px;
  list-style-type: none;
  color: white;
  background: orange;
  
}

.icons-image {
  filter: invert(1);
}

.fire{
  background-image: url(../photos/headshot.jpg);
  background-size: 100% 100%;
  padding: 4rem;
  filter: grayscale(100%);
}

li:hover {
  animation: bounce 1s;
}


/* Github,gmail */
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;   
}

.links img {
  max-height: 4rem;
  max-width: 4rem;
}


  main {
    padding-bottom: 10rem;
    background: whitesmoke;
    font-size: 10px;
    color: black;
  }
  
  section {
    padding: 2rem 3rem;
  }

  
  p {
    font-size: 30px;
  }
  
  .section-1, .section-3 {
    font-size: 10px;
    background: whitesmoke;
    color: black;
  }
  
  .section-3 {
    /* background-image: url(../photos/work-table.jpg); */
    background-size: 100% 100%;
    padding: 2rem 2rem;
    /* filter: grayscale(50%); */
    /* filter: invert(.8); */
    background-color: orange;
  }
  
  a:visited{
    color: white;
  }
  
  footer {
    /* grid-column: 1 / 3; */
    /* background:  rgb(109, 110, 104); */
    /* background-image: linear-gradient(45deg, rgb(228, 245, 81), rgb(30, 110, 37)); */
    padding: 4rem 4rem;
    background: rgb(65, 62, 62);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(../photos/signature.jpg); */
    filter: invert(.89);
    /* filter: grayscale(90%); */
    background-size: 100% 100%;
    /* border-top: 16px solid grey; */
    list-style-type: none;
  }