@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}



* {
    font-size: 50px;
    /* text-shadow: black 2px; */
    background-attachment: fixed;
    font-family: 'Bangers', cursive;
    /* color: white; */
    text-shadow: rgb(88, 88, 88);
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;   
}

img {
    max-height: 4rem;
    max-width: 4rem;
}

.findMeOn {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family: system-ui, sans-serif;
    
    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
}
header {
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    padding: 4rem;
    text-align: center;
    /* background-image: linear-gradient(45deg, rgb(228, 245, 81), rgb(30, 110, 37)); */
    background:  url(../photos/montana.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    color: whitesmoke;
    /* background: linear-gradient(45deg, rgb(50, 50, 122), rgb(13, 139, 241)); */
}

.icons-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  font-size: 10px;
  list-style-type: none;
}
li:hover {
    animation: bounce 1s;
}

.icons-header > img {
  flex-direction: row;
}

.underLine {
        border-bottom: 4px solid white;
        margin: 0 4rem 2rem 4rem;
}

nav {
    white-space: nowrap;
    /* background-image: linear-gradient(45deg, rgb(228, 245, 81), rgb(30, 110, 37)) */
   /* background: grey; */
   /* background-image: url(../photos/grass.jpg); */
   background: grey;
   color: rgb(95, 92, 92);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* Only stick if you can fit */
  @media (min-height: 300px) {
    nav ul {
      position: sticky;
      top: 0;
    }
  }
  nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }
  nav ul li a.current {
    background: black;
  }

  main {
    padding-bottom: 10rem;
    background: whitesmoke;
    font-size: 10px;
    color: black;
    /* background-image: url(../photos/whitebrick.jpg) ;
    background-size: 100% 40%; */
  }
  
  section {
    padding: 2rem;
    /* margin: 0 0 2rem 0; */
  }
  footer {
    grid-column: 1 / 3;
    /* background:  rgb(109, 110, 104); */
    /* background-image: linear-gradient(45deg, rgb(228, 245, 81), rgb(30, 110, 37)); */
    padding: 2rem 1rem;
    background: rgb(65, 62, 62);
    background-repeat: no-repeat;
    background-size: cover;
    /* border-top: 16px solid grey; */
  }

  p {
      font-size: 30px;
  }

  .section-1, .section-3 {
      font-size: 10px;
      background: whitesmoke;
      color: black;
  }

