
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

* {
  font-size: 50px;
  background-attachment: fixed;
  font-family: 'Bangers', cursive;
  text-shadow: rgb(88, 88, 88);

}

html {
  scroll-behavior: smooth;
  width: 100%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background:  url(../photos/black-close-up-dark-dew-396547.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  color: whitesmoke;
  min-height: 100vh;
  /* border-bottom: orange 2px solid; */
  
}

.typewriter{
  display: flex;
  font-size: 30px;
  /* margin: 0 4rem 4rem 4rem; */
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor*/
  white-space: nowrap; /* Keeps the content on a single line */
  margin: auto; /*Gives that scrolling effect as the typing happens*/
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret 1s step-end infinite;
}

.underLine {
  border-bottom: 4px solid;
  border-color: orange;
  margin: 0 100px;

  
}
/* This is the nav icons */
nav {
    white-space: nowrap;
    display: flex;
    flex-direction: column-reverse;
  }
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.language-icon { 
  display: flex;
  justify-content: space-between;
}

.language-icon i {
  display: flex;
  padding: 20px;
}

.icons-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  font-size: 10px;
  list-style-type: none;
  color: white;
  background: orange;
  /* position: absolute;
  top : 0; */
}

.icons-image {
  filter: invert(1);
}

.fire{
  background-image: url(../photos/headshot.jpg);
  background-size: 100% 100%;
  /* padding: 4rem; */
  padding: 300px 300px;
  filter: grayscale(100%);
}

li:hover {
  animation: bounce 1s;
}


/* Github,gmail */
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;   
}

.links img {
  max-height: 4rem;
  max-width: 4rem;
}


  main {
    padding-bottom: 10rem;
    background: whitesmoke;
    font-size: 10px;
    color: black;
  }
  
  section {
    padding: 2rem 3rem;
  }

  p {
    font-size: 30px;
  }
  
  .section-1, .section-3 {
    font-size: 10px;
    background: whitesmoke;
    color: black;
  }

  .section-2 {
    background: orange;
  }
  
  .section-3 {
    background-size: 100% 100%;
    padding: 2rem 2rem;
    background-color: whitesmoke;
  }
  
  a:visited{
    color: white;
  }
  
  footer {
    /* padding: 4rem 4rem; */
    background: rgb(65, 62, 62);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(../photos/signature.jpg); */
    filter: invert(.89);
    background-size: 100% 100%;
    list-style-type: none;
  }

  @media only screen and (max-width: 650px){
    * {
      font-size: 30px;
    }

    .fire{
      /* padding: 0vw; */
      background-attachment: scroll;
    }

    h1, h2 {
      font-size: 35px;
      padding: 0vw;
      margin: 10px;
    }
    p {
      margin: 10px;
    }
    ul {
      margin: 0px;
    }
    .section-2 img, .links img, iframe {
      max-width: 100%;
      max-height: 100%;
      min-width: 250px;
    }
    .underLine{
      margin: 0;
    }
    .fire{
      padding: 300px 0px ;
    }
    .section-3{
      padding: 2rem 0;
    }
    section{
      padding: 0;
    }
    .links{
      flex-direction: column;
      align-items: center;
    }
    footer {
      padding:0vw;
      font-size: 20px;
      margin: 0;
    }
    .typewriter{
      white-space: normal; 
      margin: 10px;
    }
  }

  @media only screen and (max-width: 1100px){
      .typewriter{
        white-space: normal; 
      }
    }